* {
  margin: 0;
  padding: 10px;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto Mono', monospace; 
  background-color: #1E1E1E;
  color: white;
  margin: 0;
  border: 0;
  padding: 0;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
}

