<!DOCTYPE html>
<html lang="en">

<head>
  <link rel="stylesheet" href="stylesheets/style2.css">

  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>CATBOOKS</title>
  <script src="https://kit.fontawesome.com/5dedad8172.js" crossorigin="anonymous"></script>
  <link href="https://fonts.googleapis.com/css2?family=Silkscreen:wght@400;700&display=swap" rel="stylesheet">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap"
    rel="stylesheet">
  <script>
    function redirectToDetails(imageId) {
      window.location.href = "detalhes.html?image=" + imageId;
    }
  </script>
</head>

<body>

  <header>
    <div class="container">
      <div class="logo">
        <h1>CATBOOKS</h1>
      </div>
      <nav>
        <a href="/sobre">Sobre o projeto</a>
      </nav>
      <a href="/login">Login</a>
      </nav>
      <div class="sociais">
        <a href="https://www.instagram.com/let_gomesv">
          <button>
            <i class="fa fa-instagram"></i>
          </button>
        </a>

        <a href="https://github.com/mareshbard">
          <button>
            <i class="fa fa-github"></i>
          </button>
        </a>
      </div>
    </div>
  </header>
  <div class="container7">
    <h1>Bem vindo! Estamos construindo um ambiente para quem deseja conhecer novos livros e avaliar suas leituras!</h1>
    <img src="img/pag1.png" alt="Imagem inicial"></img>
  </div>
 
</body>

</html>